body{
    font-family: 'Red Hat Display', sans-serif;
}
.background-desktop{
    background-image: url('./images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 50%;
}
/* .container{
    margin: auto;
    width: 60%;
    background: white;
    padding: 10px;
} */
.section{
    display: flex;
        /* place-items: center; */
        flex-direction: column;
        gap: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        /* width: 26%;
        height: 600px; */
        height: 667px;
        width: 375px;
    background: hsl(225, 100%, 98%);
    border-radius: 5%;
    overflow: hidden;
    
}
/* .section img{
    width: 100%;
    height: 100%;
} */
.title{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}
.subtitle {
    color: hsl(224, 23%, 55%);
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
}

.container{
    display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 5px;
    background-color: hsl(230, 61%, 90%);
    border-radius: 15px;
}
.containerImg{
    /* width: 50px;
    height: 50px;
    margin: 10px; */
    margin: 10px;
    max-width: 50px;
    max-height: 50px;
}
.containerElement{
    margin: 10px;
    width: 175px;
}
.containerTitle{
    font-weight: bold;
}
.containerPrice{
    color: hsl(224, 23%, 55%);
    
} 
.containerChange{
    color:hsl(245, 75%, 52%) ;
    margin: 10px;
    font-weight: bold;
}
.containerChange:hover{
    cursor: pointer;
}

.button{
    background-color: hsl(245, 75%, 52%);
    border-radius: 8px;
    border: none;
    color:hsl(225, 100%, 94%);
    width: 276px;
    cursor: pointer;
    font-weight: bold;
    height: 50px; 
    margin: auto;
    /* margin-left: 10%;
    margin-right: 10%; */
    box-shadow: 0px 5px 5px hsl(224, 23%, 55%);
    cursor: pointer;
    
}
.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.cancel{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.cancel:hover{
    cursor: pointer;
 
}
.color {
    color:hsl(225, 100%, 94%) ;
    color:hsl(245, 75%, 52%) ;
    color: hsl(225, 100%, 98%);
    color: hsl(224, 23%, 55%); 
    color: hsl(223, 47%, 23%);

}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

